body {
    background: #eff2f3;
    margin: 0;
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
    font-family: 'Helvetica';
  }
  .inner {
    background: #09c999;
    padding: 1em;
    border-radius: 10px;
    width: 250px;
    clip-path: circle(10% at 90% 20%);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }
  .inner:hover {
    clip-path: circle(75%);
    background: #16aabe;
  }
  .inner h1 {
    color: white;
    margin: 0;
  }
  .inner p {
    color: white;
    font-size: 1rem;
  }
  .inner span {
    float: right;
    color: white;
    margin-right: 10px;
    font-weight: normal;
    transition: color 0.5s;
    position: relative;
  }
  .inner:hover span {
    color: rgba(255, 255, 255, 0);
  }
  